<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>priority-test</title>
</head>
<body>
    <h1>priority-Test</h1>
    <p>表示される画像は上から、image1,image2,image3,image4 です</p>
    <!-- ここに他のHTMLコンテンツを追加 -->
    <p>`/body-image-tag` で、body内部でのimgタグでのfetchテスト</p>
</body>
</html>